body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--beige);
    padding: 0;
    overflow-x: hidden; /* para sa horizontal scrolling */
    overflow-y: auto;

        width: 100.1%;
    min-height: 100vh; /* Full screen height */
}

/* My Cart */

.special-title2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 129px 0 -278px;
    width: 100%;
}

.special-title2 .line:first-child {
    flex: 1.5;              /* Short left line */
    height: 5px;
    background: var(--yellow);
    border-radius: 10px;
}

.special-title2 .line:last-child {
    flex: 5;              /* Long right line */
    height: 5px;
    background: var(--blue);
    border-radius: 10px;
}

.special-title2 h2 {
    margin: 0;
    white-space: nowrap;
    font-size: 36px;
    color: var(--yellow);
}

.special-title2 h2 span {
    color: var(--blue);
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
   
    padding: 17%;
    
    
}
    
.div1 {
    grid-column: span 6 / span 6;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
}

.cart-header {
    display: flex;
    align-items: center;
    width: 100%;
    color:  var(--blue);
}

.cart-header p {
    margin: 0;
    margin-right: 43%;
    margin-left: 3%;
}

.cart-header ul {
    display: flex;
    align-items: center;
    gap: 73px;
    list-style: none;
}

.div2 {
    grid-column: 1 / -1;
    background-color: var(--blue);
    border-radius: 30px;
    height: 192px;
    margin-top: -4%;
}

.div3 {
    grid-column: 1 / -1;
    margin-top: 3%;
}


.conshop {
    grid-column: span 3 / span 3;
    grid-row-start: 9;
    background-color: var(--yellow);
    border-radius: 30px;
    text-align: center;
    color: var(--beige);
    height: 100%;
    font-size: 70%;
    border: none;
    
}

.checkout {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 9;
    background-color: var(--blue);
    border-radius: 30px;
    text-align: center;
    color: var(--beige);
    height: 97%;
    font-size: 70%;
    border: none;
}

.tp {
    display: flex;
    color: var(--blue);
    align-items: lright;
    justify-content: right;
    border-top: solid 5px;
}

.total {
    padding-right: 2%;
}
