body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--beige);
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    
}


.special-title0{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
    margin: 116px 0 -132px;
}
.special-title0 h2{
    font-size: 36px;
    font-weight: bold;
    color: #3b69b4;
    margin: 0;
}

.special-title0 span{
    color: #ffb300;
}

.line0{
    flex: 1;
    height: 4px;
    background: #3b69b4;
    border-radius: 10px;
}

.line0:first-child{
    background:  #3b69b4;
}

.line0:last-child{
    background: #ffb300;
}

.contact {
    margin-top: 12%;
    width: 100%;
    min-height: 75vh; /* Full screen height */
}

/* MAIN BLUE CONTAINER */

.contact-container {
    margin: 179px;
    height: 386px;
    padding: 30px;
    background-color: var(--blue);
    border-radius: 30px;
    display: flex;
    gap: 104px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}


/* LEFT SIDE */

.contact-form {
    position: relative;
    top: 10px;
    width: 474px;
}

.contact-form form {
    width: 100%;
}


/* LABELS */

.contact-form label {
    display: block;

    margin-bottom: 11px;

    color: var(--yellow);

    font-size: 17px;
    font-weight: 900;
}


/* INPUTS */

.contact-form input,
.contact-form textarea {
    width: 100%;

    border: none;
    outline: none;

    background-color: white;

    color: #333;

    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    border-radius: 18px;
}


/* TEXT INPUT */

.contact-form input {
    height: 43px;
    padding: 0 13px;
    margin-bottom: 14px;
}


/* MESSAGE */

.contact-form textarea {
    height: 84px;
    padding: 11px 13px;
    margin-bottom: 13px;
    border-radius: 15px;
    resize: none;
}


/* PLACEHOLDER */

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: grey;

    font-weight: 900;
}


/* SUBMIT BUTTON */

.contact-form button {
    width: 106%;
    height: 41px;

    border: none;
    border-radius: 32px;

    background-color: var(--yellow);

    color: white;

    font-size: 12px;
    font-weight: 900;

    cursor: pointer;

    transition: 0.2s;
}

.contact-form button:hover {
    filter: brightness(1.2);
}

/* RIGHT SIDE */

.contact-info {
    flex: 1;

    padding-top: 80px;
    margin-right: 36px;
}

/* TITLE */

.contact-info h1 {
    margin-bottom: 5px;

    color: var(--yellow);

    font-size: 37px;
    font-weight: 900;

    line-height: 1;
}


/* DESCRIPTION */

.contact-info p {
    color: white;
    font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.35;
    text-align: justify;
}

