header{
    position: fixed;
    top: 0;
    left: 0;
    width: 93%;
    height: 26px;
    z-index: 1000;  
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 54px;
    background: var(--blue);

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;


    /* SHADOW */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#logo{
    display: flex;
    flex-direction: column;   /* Stack vertically */
    line-height: 1;
}

#university{
    text-align: center;
    font-size: 11px;          /* Smaller */
    text-decoration: none;
    color: var(--beige);
}

#cafeteria{
    font-size: 27px;          /* Bigger */
    font-weight: 700;
    text-decoration: none;
    color: var(--yellow);
}

.navbar ul{
    display:flex;
    list-style:none;
    gap: 21px;
    
    
}
.navbar a{
    
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    padding: 8px 28px;
    border-radius: 17px;

    background: transparent;
    border: 2px solid var(--yellow);

    color: var(--beige);
    text-decoration: none;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover{
    background-color: var(--yellow);
    color: var(--beige)
}

.navbar a.active{
    background: var(--yellow);
    color: var(--beige)
}

.navbar a.active{
    background: var(--yellow);
    color: var(--beige)
}



/* SMALL TABLET */
@media (max-width: 800px){

    header{
        padding: 20px 20px;
    }

    #cafeteria{
        font-size: 21px;
    }

    #university{
        font-size: 8px;
    }

    .navbar ul{
        gap: 6px;
    }

    .navbar a{
        font-size: 8px;
        padding: 6px 10px;
    }
}


/* MOBILE */
@media (max-width: 600px){

    header{
        height: auto;
        min-height: 65px;
        padding: 2px 18px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #logo{
        flex-shrink: 0;
    }

    #cafeteria{
        font-size: 18px;
    }

    #university{
        font-size: 7px;
    }

    .navbar ul{
        gap: 5px;
    }

    .navbar a{
        font-size: 7px;
        padding: 5px 7px;
        border-width: 1px;
        border-radius: 10px;
    }
}


/* VERY SMALL PHONES */
@media (max-width: 400px){

    header{
        padding: 10px 12px;
    }

    #cafeteria{
        font-size: 16px;
    }

    #university{
        font-size: 6px;
    }

    .navbar ul{
        gap: 3px;
    }

    .navbar a{
        font-size: 6px;
        padding: 4px 5px;
        border-radius: 8px;
    }
}