body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--beige);
    padding: 0;
    overflow-x: hidden; /* para sa horizontal scrolling */
    overflow-y: auto;

        width: 100.1%;
    min-height: 100vh; /* Full screen height */
}


.parent {
    position: relative;
    margin-left: 21%;
    margin-top: 6%;
    margin-bottom: 2%;
    width: 56%;
    height: 1%;

    padding: 12px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
    
.div1 {
    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
    width: 421%;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.div1 input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    font-size: 18px;
    color: black;
}

.div1 input::placeholder {
    color: #999;
}


.div2 {
    position: relative;
    background-color: var(--yellow);
    height: 104%;
    border-radius: 30px;
    color: var(--beige);
    left: 345%;
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
    font-size: 7px;

     /* SHADOW */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    color: var(--blue);
    position: relative;
    display: flex;
    gap: 20%;
    left: 2%;
    margin-top: -1%;
    margin-bottom: -2%;

    
    
}

.div3 ul {
    display: flex;
    gap: 4%;
    align-items: center;
    list-style: none;
    
}

.div3 a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 95px;
    height: 30px;

    text-decoration: none;
    color: var(--beige);
    background-color: var(--yellow);
    border-radius: 33px;
    font-size: 13px;
}

.div4 {
    grid-column: span 5;
    grid-row-start: 3;

    background-color: white;
    border-radius: 30px;
    padding: 8px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    height: auto;
    margin: 0;
}

.div5 {
    grid-column: span 5;
    grid-row-start: 9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11%;
    margin-bottom: 3%;
}


/* menu */

.parent2 {
    display: grid;
    grid-template-columns: repeat(5, -1fr);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    padding: 4%;
    margin: 0%;
    
}
.parent2 .item1 {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: var(--blue);
    border-radius: 16px;
    padding: 0%;
 
}

.parent2 .item2 {
    grid-column: 1 / -1;
    grid-row: 2;
    background-color: var(--blue);
    border-radius: 16px;
    padding: 0%;
}

.parent2 .item3 {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: var(--blue);
    border-radius: 16px;
    padding: 0%;
}

.parent2 .item4 {
    grid-column: 1 / -1;
    grid-row: 4;
    background-color: var(--blue);
    border-radius: 16px;
    padding: 0%;
}

.parent2 .item5 {
    grid-column: 1 / -1;
    grid-row: 5;
    background-color: var(--blue);
    border-radius: 16px;
    padding: 0%;
}


.viewcart button {
    width: 470px;
    height: 42px;

    border: none;
    border-radius: 50px;

    background-color: var(--yellow);
    color: var(--beige);

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.viewcart button:hover {
    filter: brightness(1.2);
}

/* item menu */

/* Every menu item */
.parent2 > div {
    background: var(--blue);
    border-radius: 20px;
    padding: 14px;
}

/* Menu Item Layout */
.parent3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 49px;
    align-items: center;

    color: var(--beige);
    width: 100%;
}

/* Image */
.parent3 .image {
    grid-column: span 2;
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent3 .image img {
    width: 141px;
    height: 76px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* Name */
.parent3 .name {
    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.parent3 .name h3 {
    margin: 0;
}

/* Price */
.parent3 .price {
    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
}

.parent3 .price p {
    margin: 0;
}

/* Add to Cart */
.parent3 .add-to-cart {
    grid-column: span 2;
    padding: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent3 .add-to-cart button {
    width: 138px;
    height: 36px;

    border: none;
    border-radius: 20px;
    

    background: var(--yellow);
    color: var(--beige);

    font-size: 11px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s ease;
}

.parent3 .add-to-cart button:hover {
    filter: brightness(1.2);
   
}